body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e2a38;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    color: white;
    cursor: pointer;
}

.main {
    margin-left: 240px;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.blue {background:#3498db;}
.green {background:#2ecc71;}
.red {background:#e74c3c;}
.orange {background:#f39c12;}

table {
    width: 100%;
    margin-top: 20px;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

button {
    margin: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

input, select {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
}